name: Run tests

on: [push, pull_request]

jobs:
  list_test_subjects:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        run: echo "::set-output name=matrix::$(find . -type f -name 'Dockerfile' | awk -F\/ '{print $3"/"$4}' | jq -Rsc '. / "\n" - [""]')"
  test:
    name: ${{ matrix.subject }}
    runs-on: ubuntu-latest
    needs: list_test_subjects
    strategy:
      matrix:
        subject: ${{fromJSON(needs.list_test_subjects.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v2
      - id: build-test-image
        run: docker build -t test_image -f thumbor_plugins/${{ matrix.subject }}/tests/docker/Dockerfile .
      - id: run-tests
        run: |
          SUBJECT_NAME=$(echo "optimizers/gifv" | awk -F\/ '{print $2}')
          docker run --rm -v$(pwd):/app test_image /bin/bash -c "pip install -e .[tests,${SUBJECT_NAME}] && pytest thumbor_plugins/${{ matrix.subject }}/tests"
